@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Noto+Sans+TC:wght@300;400;500;700&family=Open+Sans&display=swap');

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  font-family: 'Electrolize', sans-serif;
  background-color: black;
}

button {
  border: none;
  background: none;
  padding: 0;
}

button:focus {
  outline: none;
}

#root {
  height: 100%;
}

.canvas-wrapper {
  position: relative;
  overflow: hidden;
}

.container, .canvas-wrapper {
  height: 100%;

}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 70%;
    height: 70%;
  }
}

.button {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.button + .button {
  margin-left: 50px;
}

.retry {
  background-image: url("../assets/images/retry_button.png");
}

.ok {
  background-image: url("../assets/images/ok_button.png");
}

@keyframes progress {
  from {
    stroke-dashoffset: 339.292;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.video-loader {
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}

.video-loader__progress {
  animation-fill-mode: forwards;
  animation-duration:  5s;
}

.recording .video-loader__progress {
  animation-name: progress;
}

.start {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-30px);
  z-index: 1;
  cursor: pointer;
}

.action-buttons button:focus {
  outline: none;
}

.action-buttons button + button {
  margin-left: 20px;
}

.video-wrapper {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: .7s all;
}

.show,
.show-share {
  visibility: visible !important;
  opacity: 1 !important;
}

@media(min-width: 1024px) {
  .video-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.video-btns {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.share {
  position: absolute;
  top: -52px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  z-index: 12;
  text-align: center;
  transition: .5s all;
}

@media(min-width: 1024px) {
  .share {
    transform: none;
  }

  .show-share {
    top: 25px;
  }
}

.show-share {
  top: 60px;
}
